@font-face {
  font-family: BloggerSans;
  src: url(/Fonts/BloggerSans.otf);
}

body {
  background-color: #ecafae;
  color: #f8f8ff;
  font: 1vw BloggerSans;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#sidebar {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 50%;
  margin-top: -100px;
}

#icons {
  width: 10%;
  position: fixed;
}

.icon-size {
  max-width: 25%;
  max-height: 25%;
}

ul.no-bullets {
  list-style-type: none;
  margin: 2%;
  padding: 2%;
}

a:hover {
  color: #e09291;
}

#scrollable-content {
  float: right;
  width: 80%;
  padding-right: 10%;
  overflow: auto;
}

#home {
  position: relative;
}

#home-headphones {
  width: 100%;
  box-shadow: inset #e09291;
}

#home-text {
  font-weight: bolder;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
}

.blog-title {
  width: 50%;
  font-weight: bold;
  font-size: 2vw;
}

.blog-text {
  width: 100%;
}

.comment-button {
    display: block;
    margin: 0 auto;
    padding:0.5em 3em;
    font-size: 1vw;
    color: #F8F8FF;
    background-color: #ECAFAE;
    border: 0.2em solid #F8F8FF;
    border-radius:0.25em;
    box-sizing: border-box;
    text-decoration:none;
    text-align: center;
}

.comment-button:hover{
    color: #E09291;
    background-color: #F8F8FF;
}

.whycs-close {
    float: right;
    font: bolder;
}

.whycs-close:hover{
    color: #434343;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    padding: 2px 16px;
    background-color: #E09291;
}

.modal-body {
    padding: 2px 16px;
    background-color: #F8F8FF;
    max-height: 30vh;
    overflow-y: scroll;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ECAFAE;
}

#whycs-comments {
    color: #434343;
}

.container {
  position: relative;
  width: 100%;
}

.overlay-img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background-color: #e09291;
}

.container:hover .overlay {
  opacity: 1;
}

.center {
    position: absolute;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#footer-citation {
  width: 90%;
  margin: 3vm;
  background-color: #e09291;
}
