@font-face {
    font-family: BloggerSans;
    src: url(/Fonts/BloggerSans.otf);
}

body {
    background-color: #ECAFAE;
    color: 	#F8F8FF;
    font-family: BloggerSans;
    font-size: 1vw;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#sidebar {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 50%;   
    margin-top: -100px;
}

#scrollable-content {
    float: right;
    width: 90%;
    overflow: auto;
}

#home {
 	position: relative;
}

#home-headphones {
    width: 90%;
    box-shadow: inset #E09291;   
}

#home-text {
    font-weight: bolder;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    font-size: 7vw;
}

.blog-title {
    width: 50%;
    font-weight: bold;
    font-size: 2vw;
}

.blog-text {
    width: 90%;
}

.container {
  position: relative;
  width: 90%;
}

.overlay-img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #E09291;
}

.container:hover .overlay{
    opacity: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
