body {
    background-color: #ECAFAE;
    color: 	#F8F8FF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1vw;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#sidebar {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 50%;   
    margin-top: -100px;
}

#icons {
    width: 10%;
    position: fixed;
}

.icon-size {
    max-width: 25%;
    max-height: 25%;
}

ul.no-bullets {
  list-style-type: none;
  margin: 2%;
  padding: 2%;
}

a:hover {
    color:#E09291;
}

#scrollable-content {
    float: right;
    width: 90%;
    overflow: auto;
}

#home {
 	position: relative;
}

#home-headphones {
    width: 90%;
    box-shadow: inset #E09291;   
}

#home-text {
    font-family: "Arial Black", Gadget, sans-serif;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    font-size: 7vw;
    
}

.blog-title {
    width: 50%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2vw;
}

.blog-text {
    width: 90%;
}

.container {
  position: relative;
}

.overlay-img {
    display: block;
    margin: 0 auto;
    padding: 40px;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #E09291;
}

.container:hover .overlay{
    opacity: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#footer-citation {
    width: 90%;
    margin: 3vm;
    background-color: #E09291;
}